/**
 * $Id: theme.css,v 1.1.2.19 2010/03/23 03:29:25 jmburnz Exp $
 * adaptivethemes.com
 *
 * @file theme.css
 * theme.css is the file to use when building your theme. 
 * Make a copy first as a backup.
 */

/**********************************************************
 *                  Liste des couleurs
 **********************************************************

#72a431 - vert des liens
#c1c9d6 - couleur foncée dans les dégradés des blocks arrondis
#e8f3f9 - --------claire--------------------------------------
#464646 - Texte en général (gris foncé)
#323e54 - Bleu foncé Logo et headings
#cdcbd6 - Border dashed ou borders en général
#9bb48a - foncé bouton vert
#bcd2ac - clair bouton vert


/**********************************************************
*                    HTML & Body
**********************************************************/
html {}
html {behavior: url('css3.htc');}/* css3 dans ie 6,7,8 voir http://r.je/css3-in-ie.html */
body {
/*  font-family: Garamond, Georgia, Times, “Times New Roman”, serif;*/
font-family: “Trebuchet MS”, Verdana, Arial, Helvetica, sans-serif;
color:#464646;
font-size: 117%;
line-height: 1.5;
background: url('../../images/header.png') no-repeat center 48px;
}

/* Admin menu */
body.admin-menu {}
body.admin-menu #container {}

/**********************************************************
*                 HTML Elements
**********************************************************/
h1 {}
h1 a,
h1 a:visited,
h1 a:active {
  text-decoration:none;
  color:#323E54;
}
h2 {
  font-size: 1.3em;
}
h3 {}
h4 {}
h5 {}
h6 {}

h1,
h2,
h3,
h4,
h5,
h6 {
color:#323e54;
}

p {}

strong {}
em, dfn {}
dfn {}

sup, sub {}

del {}
ins {}

blockquote {}
cite {}
q {}

address {}

ul {}
ol {}
li {}

dl {}
dd {}
dt {}

abbr {}
acronym {}

pre, code, tt {}
p code {}
samp {}
kbd {}
var {}


/**********************************************************
*                 Global Link Styles
**********************************************************/
a {
color:#464646;
}
a:link    {}
a:visited {}
a:hover   {
  text-decoration:underline;
}
a:active  {}
a.active  {}

/* Set global a:active and a:focus styles. */
a:active,
a:focus {}

#content a,
#site-mission a,
#mission a,
#primary a,
#block-menu-primary-links a,
#block-mwmisc-muni_menu a,
#block-menu-menu-footer a,
a#switchlanguage {
font-family: Garamond, Georgia, Times, “Times New Roman”, serif;
font-style:italic;
color:#72a431;
text-decoration:none;
}
#primary a,
#block-menu-primary-links a,
#block-mwmisc-muni_menu a,
#block-menu-menu-footer a,
a#switchlanguage {
color:#464646;
}
#primary a.active,
#block-menu-menu-footer a.active,
a#switchlanguage.active {
font-style:normal;
}
/**********************************************************
*                    Body Classes
**********************************************************/
/* NOTE: these are not active by default; you need to 
  enable them in the Advanced theme settings. */

/* Front or not front. */
.front {}
.not-front {}

/* Is the user logged in. */
.logged-in {}
.not-logged-in {}

/* Content type body classes. */
.article-type-book  {}
.article-type-blog  {}
.article-type-forum {}
.article-type-page  {}
.article-type-poll  {}
.article-type-story {}
.article-type-muni {}
.article-type-muni .article,
.article-type-muni #block-cck_blocks-field_mrc,
.article-type-muni #block-views-muni_meme_mrc-block_1{
  width:455px;
  margin-right:25px;
  float:left;
  clear:left;
  margin-bottom: 40px;
}
.article-type-muni #block-mwmisc-muni_photo,
.article-type-muni #block-mwmisc-sources,
#block-cck_blocks-field_adresse {
  width:455px;
  float:right;
  margin-left:25px;
  clear:right;
}
.article-type-muni #block-mwmisc-muni_photo img {
  width:455px;
}
.article-type-muni #block-mwmisc-muni_photo .credit-panoramio img {
  width:auto;
}

#block-views-muni_meme_mrc-block_1 .view-content ul li a {
    font-style: italic;
    text-decoration: none;
    color:#464646;
    font-weight:normal;
}

/**********************************************************
*                  The wrapper divs
*    Be careful how you modify these, see layout.css
**********************************************************/
#container {}

/* Column wrappers */
#columns {
  padding-top: 2.5em;
}
.columns-inner {}

/* Content wrappers */
#content-column {}
.content-inner {}

/* Main content wrappers*/
#main-content {}
#content {}


/**********************************************************
*                       Regions
**********************************************************/
/* Leaderboard is a full width region at the very top of the page. */
#leaderboard {
  background-color: #e8f3f9;
  background-image: -moz-linear-gradient(270deg,#e8f3f9, #c1c9d6); /* Firefox 3.6+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8f3f9), to(#c1c9d6)); /* Safari 4+, Chrome 1+ */
  background-image: -webkit-linear-gradient(#e8f3f9, #c1c9d6); /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(#e8f3f9, #c1c9d6); /* Opera 11.10+ */
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -khtml-border-radius:4px;
  margin: 1em 0 2.5em;
  padding: 3px 10px 0;
}

/* Header region is embedded in the header, floated between the logo/site_name
 and the search box. */
#header-region {}

#header-region .block {
float:left;
margin: 1.5em 0;
}

/* Menu Bar sits below the header and is ideal for dynamic menus 
 such as http://drupal.org/project/superfish. */
#menu-bar {}

/* Secondary content is a full width region between the header and the
 main columns. */
#secondary-content {}

/* Tertiary content is a full width region above the footer, below the
 main content. */
#tertiary-content {}

/* Content top and bottom are above and below the main content, within the main 
 content column. Content aside floats to the right within the main central
 column, but below content top. */
#content-top {}
#content-aside {}
#content-bottom {}

/* Article aside appears only in articles (nodes). By default its placed at
 the bottom of the node.tpl.php template. */
#article-aside {}


/**********************************************************
*                      Sidebars
**********************************************************/
/* Target both sidebars with this low specifity selector. */
.sidebar {}

/* Target a specific sidebar. */
#sidebar-first {}
#sidebar-last {}


/**********************************************************
*                   Skip navigation
**********************************************************/
/**
* DO NOT USE display:none as this hides it from screen readers!
*/
#skip-nav {}

/* Override default pseudo class styles */
#skip-nav a:link    {}
#skip-nav a:visited {}
#skip-nav a:hover   {}
#skip-nav a:focus   {}
#skip-nav a:active  {}


/**********************************************************
*                 Header Elements
**********************************************************/
/* #header wraps #branding, #search-box-top and #header-blocks. */
#header {
/*margin-bottom:2em;*/
}

/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {
/*  border: thin solid red;*/
width: 100%;
margin: 0 auto;
text-align: center;
float:none;
height:100px;
padding:0;
}

/* Logo and Site Name wrapper. */
.logo-site-name {
float:left;
}

/* Logo and Site Name wrapper h1 - normally applies only the homepage. */
h1.logo-site-name  {}

/* Logo and Site Name wrapper DIV - normally applies to all internal pages,
 or where no title is set. */
div.logo-site-name {}

/* DIV/strong combo when when title is set. */
div.logo-site-name strong {}

/* By default the span is set to display:block, you can display:inline
 or float the elements to get them all on one line. */
.logo-site-name span {}

/* Logo and Site Name SPAN wrappers. */
span#logo {
/*  margin-left: 40px;*/
margin-top: -10px;
/*position: relative;
right: 24px;*/
}
span#site-name {}

/* Override default pseudo class styles. */
#site-name a:link    {}
#site-name a:visited {}
#site-name a:hover   {}
#site-name a:focus   {}
#site-name a:active  {}

/* Site slogan. */
#site-slogan {
text-align:center;
font-size:1.25em;
font-family:Garamond, Georgia, Times, “Times New Roman”, serif;
}

#site-slogan,
#site-mission,
#mission,
#columns .columns-inner,
#branding {
/*  width:1020px;
margin:0 auto;*/
}

/**********************************************************
*    Search box, Advanced search form, Search results
*          For the search block see blocks.css
**********************************************************/
/**
* Search box
*/
/* Float the serch box right. */
#search-box {}

/* Reset form element margins. */
#search-theme-form {}

/* Wrapper DIVs */
#search-theme-form > div {}
#search-theme-form #search {}
#edit-search-theme-form-1-wrapper {}

#search-theme-form label {}
#search-theme-form input {}

#search-theme-form .form-text {}
#search-theme-form .form-submit {}

/**
* Advanced search form
*/
/* Advanced search-form id. */
#search-form {}

/* Use the child selector because the inner div has no class. */
#search-form > div {}
#search-form .container-inline {}
#search-form #edit-keys-wrapper {}

#search-form label {}
#search-form input {}
#search-form .form-item {}
#search-form .form-submit {}

/* Textfield styles. */
#search-form #edit-keys-wrapper input {}
#search-form #edit-keys-wrapper input:hover,
#search-form #edit-keys-wrapper input:focus {}

/* Advanced search fieldset. */
#search-form fieldset.search-advanced {}

/**
* Search results
*/
/* Box styles for the results page. */
.section-search .box {}
.section-search .box-inner {}
.section-search .box-title {}

/* Style the no results messages. */
.section-search .box ul {}
.section-search .box ul li {}

/* Search results document list. */
dl.search-results {}
dl.search-results dt {}
dl.search-results dd {}
dl.search-results dd p {}
dl.search-results dd .search-snippet {}
dl.search-results dd .search-info {}

span.search-info-type {}
span.search-info-user {}
span.search-info-date {}
span.search-info-comment {}
span.search-info-upload  {}


/**********************************************************
*               Primary & Secondary Links
**********************************************************/
/* Primary-links div wrapper */
#primary,
/*#block-menu-primary-links */{
float:right;
clear:none;
margin-top: 30px;
}

/* Class on the ul */
.primary-links {}

/* Modify the margin to set tab spacings. */
.primary-links li {}
.primary-links li a {
padding-left: 8px;
padding-right: 0;
}

#block-mwmisc-muni_menu {
  float:right;
}

#leaderboard .block#block-menu-primary-links{
 float:right;
}

#block-menu-primary-links ul.menu li {
  display:inline;
  list-style-type:none;
  list-style-image:none;
  font-size:.9em;
  padding:0;
}
#block-mwmisc-muni_menu ul.links li,
#block-mwmisc-muni_menu ul.links li a,
#block-menu-primary-links ul.menu li a {
  padding:0;
}

#primary .primary-links li a span,
#block-menu-primary-links ul.menu li a,
#block-mwmisc-muni_menu ul.links li a {
border-right:1px solid #464646;
padding-right:8px;
}
#primary .primary-links li.last a span,
#block-menu-primary-links ul.menu li.last a,
#block-mwmisc-muni_menu ul.links li.last a{
border:none;
padding-right:0;
}




/* Set pseudo class styles. */
.primary-links li a:link {}
.primary-links li a:visited {}
.primary-links li a:hover {}
.primary-links li a:focus {}
.primary-links li a:active {}

/* Primary first and last classes. */
.primary-links li.first {}
.primary-links li.last {}

/* Active trail classes. */
.primary-links li.active {}
.primary-links li.active-trail {}
.primary-links li.active-trail a {}

/* Secondary-links div wrapper */
#secondary {}

/* Class on the ul */
.secondary-links {}

/* Modify the margin to set tab spacings. */
.secondary-links li {}
.secondary-links li a {}

/* Set pseudo class styles. */
.secondary-links li a:link {}
.secondary-links li a:visited {}
.secondary-links li a:hover {}
.secondary-links li a:focus {}
.secondary-links li a:active {}

/* Secondary first and last classes. */
.secondary-links li.first {}
.secondary-links li.last {}

/* Active trail classes. */
.secondary-links li.active {}
.secondary-links li.active-trail {}
.secondary-links li.active-trail a {}


/**********************************************************
*                      Breadcrumb
**********************************************************/
#breadcrumb {}
#breadcrumb a {}
#breadcrumb a:link {}
#breadcrumb a:visited {}
#breadcrumb a:hover {}
#breadcrumb a:focus {}
#breadcrumb a:active {}


/**********************************************************
*                       Mission
**********************************************************/
#site-mission {
/*  background: #4a4;*/
text-align: center;
font-family:Garamond, Georgia, Times, “Times New Roman”, serif;
font-size:1.05em;
}


/**********************************************************
*                    H1 Page Title
**********************************************************/
h1#page-title {}


/**********************************************************
*                     Pager 
**********************************************************/
/* The first 2 classes provide the base pager styles. */
.item-list .pager {
text-align:left;
}
ul.pager    {
margin:1em 0;
}
ul.pager li {}

ul.pager li a {
text-decoration:none;
padding:.4em 1em;
}

/* Theme the various states of pager links. */
ul.pager li a:link    {
background-color
}
ul.pager li a:visited {}
ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
ul.pager li.pager-item     {
background-color:#fff;
border:1px solid #ccc;
}
ul.pager li.first          {}
ul.pager li.last           {}
ul.pager li.pager-current {
background-color:#e8f3f9;
}
ul.pager li.pager-first    {}
ul.pager li.pager-previous {}
ul.pager li.pager-next {
border:1px solid #ccc;
}
ul.pager li.pager-last,
ul.pager li.pager-previous,
ul.pager li.pager-first {
border:1px solid #ccc;
}

/**********************************************************
*               Footer, Footer Message
**********************************************************/
#footer {
text-align:right;
border-top:thin dashed #cdcbd6;
padding-top:1em;
margin-top:2em;
}

#footer-region {
float:left;
}
#footer-region a {}

#footer-message {}
#footer-message a {}

/* menu dans le footer */
#footer ul.menu {
margin:0;
padding:0;
}
#footer ul.menu li {
display: inline;
}
#footer ul.menu li.first {
margin-left:0;
}

/**********************************************************
*                 RSS Feed Icon
**********************************************************/
#feed-icons {}
#feed-icons .feed-icon {}
#feed-icons .feed-icon img {}
#feed-icons a.feed-icon {}

#footer-message,#feed-icons {
display:inline;
}

/**********************************************************
*                  Generic Content Classes
**********************************************************/
.title {}
.submitted {}
.submitted em {}
.submitted a {}
.content {}
ul.links {}
ul.links li {}
ul.links li a {}


/**********************************************************
*                      Articles (nodes)
**********************************************************/
.article {}

/* Teaser title (H2). */
.article-title {}

.article-title a:link,
.article-title a:visited {}
.article-title a:hover,
.article-title a:focus,
.article-title a:active {}

/* User Picture. */
.article .user-picture {}
.article .user-picture img {}

/* Submitted */
.article .submitted {}
.article .submitted em {}
.article .submitted a {}
.article .submitted a:hover {}
.article .submitted .author {}
.article .submitted .time {}

/* Common links classes. */
.article ul.links {}
.article ul.links li {}
.article ul.links li a {}

/* Taxonomy terms. */
/* Term list */
ul.taxonomy {}
ul.taxonomy li {}
ul.taxonomy li a {}
/* With vocab headers */
ul.taxonomy li.vocab {}
.vocab-name {}
ul.vocab-list {}
ul.vocab-list li {}
ul.vocab-list li a {}

/* Style module links. */
ul.links li.node_read_more a {}
ul.links li.comment_add a {}
ul.links li.comment_comments a {}
ul.links li.comment_new_comments a {}
ul.links li.blog_usernames_blog a {}
ul.links li.print_html a {}
ul.links li.print_email a {}
ul.links li.print_pdf a {}

/* UL link first and last classes. */
.article ul.links li.first {}
.article ul.links li.last  {}

/* Workflow states. */
.article-add    {}
.article-edit   {}
.article-delete {}
.article-preview  {}
.article-sticky   {}
.article-promoted {}

/* Status. */
.article-unpublished {}

/* Theme the teaser seperatly. */
.article-teaser {}


/**********************************************************
*                     Content types
*              Style article types by type.
**********************************************************/
.book-article  {}
.blog-article  {}
.forum-article {}
.page-article  {}
.poll-article  {}
.story-article {}

/**
* Custom Content Types
* Replace CONTENT_TYPE with the content type
* machine-readable name.
*/
.CONTENT_TYPE-article {}


/**********************************************************
*                    CCK Fields
**********************************************************/
/* Wrapper for any CCK field. */
.field {}

/* Use "datetime" when creating new CCK date fields. */
.field-type-datetime {}

/* Filefield field. */
.field-type-filefield {}

/* Node reference field. */
.field-type-nodereference {}

/* User reference field. */
.field-type-userreference {}

/* Number fields. */
.field-type-number-decimal {}
.field-type-number-float   {}
.field-type-number-integer {}

/* Text field. */
.field-type-text {}

/**
* Specific field names.
*/
/* Underscores in field name are replaced with dashes. */
.field-field-FIELDNAME {}

/* Fieldgroups */

div.fieldgroup {
      margin:0;
}
div.fieldgroup .content {
      padding-left: 0;
}

/**********************************************************
*                     Comments
**********************************************************/
/* Comment wrapper: wraps all comments and the comment form. */
#comments {}
#comments-title {}

/* Wrapper class for each individual comment. */
.comment {}

/* Indentation */
.comment .indented {}

/* Comment Title (H3) */
.comment-title {}
.comment-title a:link,
.comment-title a:visited {}
.comment-title a:hover,
.comment-title a:focus,
.comment-title a:active {}

/* Comment id (count with pound sign, see line 28 comment.tpl.php)
 and comment "new" notification. */
.comment-id {}
.comment-title .new {}


/* User Picture */
.comment .user-picture {}
.comment .user-picture img {}

/* Submitted */
.comment .submitted {}
.comment .submitted em {}
.comment .submitted a {}
.comment .submitted a:hover {}
.comment .submitted .author {}
.comment .submitted .time {}

/* Links */
.comment ul.links {}
.comment ul.links li {}
.comment ul.links li a {}

/* Core comment link classes. */
ul.links li.comment_reply a {}
ul.links li.comment_edit a {}
ul.links li.comment_delete a {}

/* UL link first and last classes. */
.comment ul.links li.first {}
.comment ul.links li.last  {}

/* Author */
.comment-by-anonymous   {}
.comment-by-article-author {}
.comment-by-viewer      {}

/* New */
.comment-new {}

/* Zebra */
.comment.odd  {}
.comment.even {}

/* Status */
.comment-unpublished {}

/* Themes the "Unpublished" text. */
.comment-unpublished .unpublished {}

/* Comment box wrapper on a seperate page. */
.section-comment .box {}
.section-comment .box .box-title {}

/* Comment box wrapper below content. */
#comments .box {}
#comments .box .box-title {}

/* Sytle comments by article type. */
.book-comments  {}
.blog-comments  {}
.forum-comments {}
.page-comments  {}
.poll-comments  {}
.story-comments {}


/**********************************************************
*                       Blocks
**********************************************************/
/**
* Styles set for .block, .block-inner, block-title and 
* .block-content will be inherited by all blocks.
*/
.block {}
.block-inner   {} /* Block inner div */
.block-title   {} /* h2 block title */


/**********************************************************
*                   Sidebar blocks
**********************************************************/
/**
* You can target blocks in one or more regions and 
* style them differently. 
*/

/* Low specifity selector to style blocks in all regions. */
.aside .block {}
.aside .block h2 {}
.aside .block-inner {}

/* Low specifity selector to style blocks in both sidebars. */
.sidebar .block {}
.sidebar .block h2 {}
.sidebar .block-inner {}

/* High specifity selectors to style blocks in one sidebar - be careful,
 these are powerful selectors! */
#sidebar-first .block {}
#sidebar-first .block h2 {}
#sidebar-first .block-inner {}

#sidebar-last .block {}
#sidebar-last .block h2 {}
#sidebar-last .block-inner {}


/**********************************************************
*                  Region blocks
**********************************************************/
/* High specifity selectors to style blocks in one region. */
#leaderboard       .block {
  float:left;
  clear:none;
  margin: 0.3em 0;
}
#leaderboard       .block-inner {
  padding:0;
}
#block-search-0,
#menu-bar #block-og_views-0 {
  float:right;
  margin:0;
}
#menu-bar #block-og_views-0 .block-inner {
  padding:0;
}
#block-og_views-0 input {
  margin: 0 0 0 10px;
}
#block-og_views-0 .views-exposed-widget {
  padding: 0;
}

#menu-bar #block-mwmisc-switch_language {
  float:left;
}
#leaderboard #block-mwmisc-switch_language {
  float:right;
  margin-left:10px;
}
#leaderboard #block-search-0 {
  float:right;
  margin:0;
}
#leaderboard #block-search-0 #edit-search-block-form-1-wrapper,
#leaderboard #block-search-0 #edit-search-block-form-1 {
  margin:0;
}
#header-region     .block {}
#menu-bar          .block {
  clear:none;
}
#menu-bar #block-mwmisc-muni_menu {
  margin:0;
  padding-top:1.2em;
}
#menu-bar #block-mwmisc-muni_name {
  clear:left;
  float:left;
  margin:0;
}
#tertiary-content  .block {}
#content-top       .block {}
#content           .block {}
#content-bottom    .block {}
#footer-region     .block {}


/**********************************************************
*                   Module blocks
**********************************************************/
/**
* Module Block ID's
* For contributed module blocks the pattern is the same,
* i.e. #block-[module]-[delta]
*/
#block-book-0       {} /* Book navigation block   */
#block-blog-0       {} /* Recent Blog posts       */
#block-comment-0    {} /* Recent Comments block   */
#block-forum-0      {} /* Active Forum topics     */
#block-forum-1      {} /* New Forum topics        */
#block-locale-0     {} /* Language Switcher block */
#block-node-0       {} /* Syndicate block         */
#block-poll-0       {} /* Most recent poll        */
#block-profile-0    {} /* Author information      */
#block-search-0     {} /* Search form block       */
#block-statistics-0 {} /* Popular content         */
#block-system-0     {} /* Powered by Drupal       */
#block-user-0       {} /* Login block             */
#block-user-1       {} /* Navigation Menu block   */
#block-user-2       {} /* Who's New block         */
#block-user-3       {} /* Who's Online block      */

/* Primary and Secondary links blocks */
#block-menu-primary-links   {}
#block-menu-secondary-links {}

/* The class selector applies to all blocks of these types. */
.block-user {} 
.block-book {} 
.block-aggregator {}


/**********************************************************
*                 Search block form
**********************************************************/
#search-block-form {}

/* Wrapper DIVs. */
#search-block-form > div {}
#search-block-form .container-inline{}
#edit-search-block-form-1-wrapper {}

#search-block-form label {}
#search-block-form input {}

#search-block-form .form-submit {}
#search-block-form .form-text,
#block-og_views-0 #edit-keys {
  padding:0;
}

/* Override forms.css focus style */
#edit-search-block-form-1:hover,
#edit-search-block-form-1:focus {}


/**********************************************************
*                   Menu blocks
**********************************************************/
/**
* Prefix these with the block id to style one menu only.
*/
ul.menu,
ul.menu ul, 
ul.menu ul ul, 
ul.menu ul ul ul {}

/* Menu li styles */
ul.menu li {}

ul.menu li.collapsed {}
ul.menu li.expanded  {}
ul.menu li.leaf      {}

ul.menu li a:link,
ul.menu li a:visited {}
ul.menu li a:hover,
ul.menu li a:focus,
ul.menu li a:active   {}
ul.menu li.active a  {}
ul.menu li.active-trail a {}

ul.menu li.first {}
ul.menu li.last  {}


/**********************************************************
*                   Block item-list
**********************************************************/
.block .item-list ul {}
.block .item-list ul li {}


/**********************************************************
*                  Gpanel blocks
**********************************************************/
/* Examples to get started. Add col specific selectors to style
 blocks in different Gpanel columns, or element selectors to
 style specific elements */
 
.two-col-2x50  .block {}
.two-col-33-66 .block {}
.two-col-66-33 .block {}

.three-col-3x33     .block {}
.three-col-25-25-50 .block {}
.three-col-50-25-25 .block {}

.four-col-4x25 .block {}
.five-col-5x20 .block {}
.six-col-6x16  .block {}


/**********************************************************
*                  Gpanel Regions
**********************************************************/
/**
* NOTE: If you are adding borders, padding or margin (anything
* that adds width) you should apply these to the INNER div or
* the contained element, such as a block or mini-panel.
*/

.gpanel {}
.gpanel .region {}
.gpanel .region .inner {}
.gpanel .first  .inner {}
.gpanel .last   .inner {}

/* 2 column */
.two-col-2x50 {}
.two-col-2x50 .region {}
.two-col-2x50 .region .inner {}
.two-col-2x50 .col-1  {}
.two-col-2x50 .col-2  {}
.two-col-2x50 .col-1 .inner {}
.two-col-2x50 .col-2 .inner {}

.two-col-33-66 {}
.two-col-33-66 .region {}
.two-col-33-66 .region .inner {}
.two-col-33-66 .col-1 {}
.two-col-33-66 .col-2 {}
.two-col-33-66 .col-1 .inner {}
.two-col-33-66 .col-2 .inner {}

.two-col-66-33 {}
.two-col-66-33 .region {}
.two-col-66-33 .region .inner {}
.two-col-66-33 .col-1 {}
.two-col-66-33 .col-2 {}
.two-col-66-33 .col-1 .inner {}
.two-col-66-33 .col-2 .inner {}

/* 3 column */
.three-col-3x33 {}
.three-col-3x33 .region {}
.three-col-3x33 .region .inner {}
.three-col-3x33 .col-1 {}
.three-col-3x33 .col-2 {}
.three-col-3x33 .col-3 {}
.three-col-3x33 .col-1 .inner {}
.three-col-3x33 .col-2 .inner {}
.three-col-3x33 .col-3 .inner {}

.three-col-25-25-50 {}
.three-col-25-25-50 .region {}
.three-col-25-25-50 .region .inner {}
.three-col-25-25-50 .col-1 {}
.three-col-25-25-50 .col-2 {}
.three-col-25-25-50 .col-3 {}
.three-col-25-25-50 .col-1 .inner {}
.three-col-25-25-50 .col-2 .inner {}
.three-col-25-25-50 .col-3 .inner {}

.three-col-50-25-25 {}
.three-col-50-25-25 .region {}
.three-col-50-25-25 .region .inner {}
.three-col-50-25-25 .col-1 {}
.three-col-50-25-25 .col-2 {}
.three-col-50-25-25 .col-3 {}
.three-col-50-25-25 .col-1 .inner {}
.three-col-50-25-25 .col-2 .inner {}
.three-col-50-25-25 .col-3 .inner {}

/* 4 column */
.four-col-4x25 {}
.four-col-4x25 .region {}
.four-col-4x25 .region .inner {}
.four-col-4x25 .section-1 {}
.four-col-4x25 .section-2 {}
.four-col-4x25 .col-1 {}
.four-col-4x25 .col-2 {}
.four-col-4x25 .col-3 {}
.four-col-4x25 .col-4 {}
.four-col-4x25 .col-1 .inner {}
.four-col-4x25 .col-2 .inner {}
.four-col-4x25 .col-3 .inner {}
.four-col-4x25 .col-4 .inner {}

/* 5 column */
.five-col-5x20 {}
.five-col-5x20 .region {}
.five-col-5x20 .region .inner {}
.five-col-5x20 .col-1 {}
.five-col-5x20 .col-2 {}
.five-col-5x20 .col-3 {}
.five-col-5x20 .col-4 {}
.five-col-5x20 .col-5 {}
.five-col-5x20 .col-1 .inner {}
.five-col-5x20 .col-2 .inner {}
.five-col-5x20 .col-3 .inner {}
.five-col-5x20 .col-4 .inner {}
.five-col-5x20 .col-5 .inner {}

/* 6 column */
.six-col-6x16 {}
.six-col-6x16 .region {}
.six-col-6x16 .region .inner {}
.six-col-6x16 .col-1 {}
.six-col-6x16 .col-2 {}
.six-col-6x16 .col-3 {}
.six-col-6x16 .col-4 {}
.six-col-6x16 .col-5 {}
.six-col-6x16 .col-6 {}
.six-col-6x16 .col-1 .inner {}
.six-col-6x16 .col-2 .inner {}
.six-col-6x16 .col-3 .inner {}
.six-col-6x16 .col-4 .inner {}
.six-col-6x16 .col-5 .inner {}
.six-col-6x16 .col-6 .inner {}


/**********************************************************
                    AT Panels
  Classes for styling the built in Panels Layouts
  You need the Panels 3 module installed to use the
  built in panels and the Adaptivetheme base theme
  must be enabled.
**********************************************************/
.panel-col {}
.panel-col .inside {}
.panel-pane {}

.sixcol-6x16 {}
.fivecol-5x20 {}
.fourcol-4x25 {}

.threecol-at-25-25-50 {}
.threecol-at-50-25-25 {}

.twocol-at-33-66 {}
.twocol-at-66-33 {}

.threecol-at-stacked-inset {}
.twocol-at-stacked-inset {}


/**********************************************************
*                 AT Button Wrappers
**********************************************************/
/**
* Adaptivetheme wraps input buttons with SPANs for
* easy theming.
*/
span.button-wrapper {} /* Outer wrapper */
span.button {} /* Inner wrapper */


/**********************************************************
*                       Tables
**********************************************************/
/**
* The selector groupings are from Garland which offers a
* sensible starting point for styling Drupal tables.
*/
table {}

caption, th, td {}
caption, th {}

table, td, th {}
tbody, tfoot, thead, tr {}
thead th {}
td, th {}

tr.even, tr.odd, tbody th {}
tr.odd, tr.info {}
tr.even {}

tr.drag {}
tr.drag-previous  {}

tr.odd td.active  {}
tr.even td.active {}

td.region,
td.module,
td.container td.category {}

tr:first-child td.region,
tr:first-child td.module,
tr:first-child td.container {}


/**********************************************************
*                   Forum Tables
**********************************************************/
#forum table {}
#forum tr td.forum {}
#forum tr td.forum .name {}
#forum div.indent {}

/*
marco, je sais pas si c'est comme ça que tu fais... ne te gêne pas pour changer ça. Tu peux utiliser views-row-unformatted:first-child itou pour affecter seulement le premier article
*/
.front div.views-row-unformatted {
float:left;
width:465px
}
.front div.views-row-unformatted.views-row-odd {
margin-right:15px;
}
.front div.views-row-unformatted.views-row-even {
margin-left:15px;
}
.front div.views-row-unformatted h2.title {
background: url('tack_icon.png') no-repeat 20px;
padding: 10px 0 10px 75px;
border-bottom: thin dashed #cdcbd6;
margin-bottom:1em;
}

.front div.views-row-unformatted:first-child h2.title {
  background: url('news_icon.png') no-repeat 0 8px;
}

.front h2.article-title a {
  display:block;
}

/*
marco, tu peux revoir ça stp? robin à fait ça de même parce que juste float left comme au dessus pour les articles ca ne voulait rien savoir :(
*/
#secondary-content {
margin-bottom: 1em;
margin-top: 3em;
}

#secondary-content .block-inner {
height: 70px;
}
#block-block-8,
#block-mwmisc-contact {
width: 465px;
height: 90px;
/*  background: url('top_buttons.png') no-repeat;*/
clear:none;
float:left;
padding: 0;
border-radius:13px;
-moz-border-radius:13px;
-webkit-border-radius:13px;
-khtml-border-radius:13px;
/*behavior:url(border-radius-ie8.htc);*/
background-color: #e8f3f9;
/*  -css3-background: linear-gradient(45deg,#00ff00,#ff0000)*/
background-image: -moz-linear-gradient(270deg,#e8f3f9, #c1c9d6); /* Firefox 3.6+ */
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8f3f9), to(#c1c9d6)); /* Safari 4+, Chrome 1+ */
background-image: -webkit-linear-gradient(#e8f3f9, #c1c9d6); /* Safari 5.1+, Chrome 10+ */
background-image: -o-linear-gradient(#e8f3f9, #c1c9d6); /* Opera 11.10+ */
}

#secondary-content .block.odd,
#content-bottom .block.odd {
  margin-right:15px;
}
#secondary-content .block.even,
#content-bottom .block.even {
  margin-left:15px;
}
#secondary-content .block:first-child {
/*    margin: 0;*/
}
#secondary-content #block-mwmisc-contact p {
font-size:.9em;
font-family: Garamond, Georgia, Times, “Times New Roman”, serif;
color:#323e54;
margin-top: 0.5em;
}
#block-block-8 a {
font-size:1.13em;
text-decoration:none;
}
#block-block-8 p{
padding-top:.35em;
margin-bottom:0;
}
#secondary-content .block .block-inner,
#content-bottom .block .block-inner {
/*  text-align: center;*/
padding: 10px 22px;
text-shadow: 1px 1px 0px #fff;
color:#464646;
font-size:1.1em;
}

#block-block-8 .block-inner {
  background: url('construction_icons.png') no-repeat 355px;
  padding-right: 110px;
}

/* base.css overrides */

.block, #user-menu, #skip-nav, #branding, #search-box, #mission, #primary, #secondary, #attribution, #breadcrumb, #main-content-header, #content, #messages-and-help, #footer-message {
    padding: 0;
}

#edit-category-wrapper,
.button-wrapper {
display:inline;
}

#mwmisc-contact-categories * {
/*  display: inline;*/
padding: 0;
margin: 0;
}
#mwmisc-contact-categories{}

#mwmisc-contact-categories .form-item label {
display:inline-block;
}
#mwmisc-contact-categories input,
#leaderboard .form-submit,
#menu-bar .form-submit,
a#switchlanguage,
#block-og_views-0 #edit-submit-og-search,
#leaderboard #block-search-0 input#edit-submit {
background-color: #72A431;
border: medium none;
color: #323E54;
padding: 0 .3em;
text-transform: lowercase;
background-image: -moz-linear-gradient(270deg,#bcd2ac, #9bb48a); /* Firefox 3.6+ */
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bcd2ac), to(#9bb48a)); /* Safari 4+, Chrome 1+ */
background-image: -webkit-linear-gradient(#bcd2ac, #9bb48a); /* Safari 5.1+, Chrome 10+ */
background-image: -o-linear-gradient(#bcd2ac, #9bb48a); /* Opera 11.10+ */

}

/* Language switcher */

#switchlanguage {

}

a#switchlanguage,
#leaderboard #block-search-0 input#edit-submit{
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -khtml-border-radius:2px;
}

a#switchlanguage {
  padding:.1em .3em;
}

/* boite en exergue dans les pages */

div.extrait {
  color:#323e54;
  font-style:italic;
display: block;
  float: right;
  font-family: Georgia;
  font-size: 1.1em;
  margin: 1em 0 1em 3em;
  width: 15em;
}

div.extrait p {
}

/* shadows */

#block-mwmisc-muni_photo a img,
#block-mwmisc-muni_photo .credit-panoramio {
  -moz-box-shadow: 0px 0px 3px 2px #ddd;
  -webkit-box-shadow:0px 0px 3px 2px #ddd;
  box-shadow: 0px 0px 3px 2px #ddd;
  box-shadow: 0 0 3px 2px #ddd;
}
#block-mwmisc-muni_photo .credit-panoramio {
  margin: 1em 0 0;
  padding: 10px;
}

/* Coins ronds */
#block-views-muni_meme_mrc-block_1 .block-inner,
#block-views-carte_muni-block_1 .block-inner,
#block-cck_blocks-field_adresse .block-inner,
#block-mwmisc-muni_photo .block-inner {
  padding:15px 0;
}
#block-views-muni_meme_mrc-block_1 .block-inner {
  padding:10px;
  background-color:#E8F3F9;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -khtml-border-radius:4px;
  background-image: -moz-linear-gradient(270deg,#e8f3f9, #ffffff); /* Firefox 3.6+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8f3f9), to(#ffffff)); /* Safari 4+, Chrome 1+ */
  background-image: -webkit-linear-gradient(#e8f3f9, #ffffff); /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(#e8f3f9, #ffffff); /* Opera 11.10+ */

/*  border:1px solid #C1C9D6; */
}


